
.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-transform: capitalize;
}

table {
  width: 100%;
  margin-top: 0.6rem !important;
  border-collapse: collapse;
}

th {
  background-color: gainsboro;
}

th,td {
  border: 1px solid;
  padding: 0.6rem 0.3rem !important;
}
